node_modules
*/node_modules
*/*/node_modules
*/*/*/node_modules
*/*/*/*/node_modules
*/*/*/*/*/node_modules
*/*/*/*/*/*/node_modules
*.apk
*.ap_
*.dex
*.jpg
*.png
*.svg
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea
*.jks
secret.properties
.DS_Store
*/*.apk
*/*.ap_
*/*.dex
*/*.jpg
*/*.png
*/*.svg
*/*.class
*/bin/
*/gen/
*/out/
*/.gradle/
*/build/
*/local.properties
*/proguard/
*/*.log
*/.navigation/
*/captures/
*/*.iml
*/.idea
*/*.jks
*/secret.properties
*/.DS_Store
*/*/*.apk
*/*/*.ap_
*/*/*.dex
*/*/*.jpg
*/*/*.png
*/*/*.svg
*/*/*.class
*/*/bin/
*/*/gen/
*/*/out/
*/*/.gradle/
*/*/build/
*/*/local.properties
*/*/proguard/
*/*/*.log
*/*/.navigation/
*/*/captures/
*/*/*.iml
*/*/.idea
*/*/*.jks
*/*/secret.properties
*/*/.DS_Store
*/*/*/*.apk
*/*/*/*.ap_
*/*/*/*.dex
*/*/*/*.jpg
*/*/*/*.png
*/*/*/*.svg
*/*/*/*.class
*/*/*/bin/
*/*/*/gen/
*/*/*/out/
*/*/*/.gradle/
*/*/*/build/
*/*/*/local.properties
*/*/*/proguard/
*/*/*/*.log
*/*/*/.navigation/
*/*/*/captures/
*/*/*/*.iml
*/*/*/.idea
*/*/*/*.jks
*/*/*/secret.properties
*/*/*/.DS_Store
*/*/*/*/*.apk
*/*/*/*/*.ap_
*/*/*/*/*.dex
*/*/*/*/*.jpg
*/*/*/*/*.png
*/*/*/*/*.svg
*/*/*/*/*.class
*/*/*/*/bin/
*/*/*/*/gen/
*/*/*/*/out/
*/*/*/*/.gradle/
*/*/*/*/build/
*/*/*/*/local.properties
*/*/*/*/proguard/
*/*/*/*/*.log
*/*/*/*/.navigation/
*/*/*/*/captures/
*/*/*/*/*.iml
*/*/*/*/.idea
*/*/*/*/*.jks
*/*/*/*/secret.properties
*/*/*/*/.DS_Store
*/*/*/*/*/*.apk
*/*/*/*/*/*.ap_
*/*/*/*/*/*.dex
*/*/*/*/*/*.jpg
*/*/*/*/*/*.png
*/*/*/*/*/*.svg
*/*/*/*/*/*.class
*/*/*/*/*/bin/
*/*/*/*/*/gen/
*/*/*/*/*/out/
*/*/*/*/*/.gradle/
*/*/*/*/*/build/
*/*/*/*/*/local.properties
*/*/*/*/*/proguard/
*/*/*/*/*/*.log
*/*/*/*/*/.navigation/
*/*/*/*/*/captures/
*/*/*/*/*/*.iml
*/*/*/*/*/.idea
*/*/*/*/*/*.jks
*/*/*/*/*/secret.properties
*/*/*/*/*/.DS_Store

