<h3 class="col-md-12 text-center pt-5 pb-1 m-0">
    Vexter
</h3>
<div class="col-md-12 text-center pt-1 pb-5 text-info">
    <small>
        Smart Switch
    </small>
</div>
<app-panel></app-panel>
<div class="col-md-12 container py-2">
    <div class="col-md-12 d-flex justify-content-center mt-5">
        <img src="../../assets/img/logo.png" height="50px" />
    </div>
    <div class="col-md-12 text-center d-flex justify-content-center">
        <small class="col-md-12 text-secondary text-center vertical-align-middle">
            Copyrights &copy; 2019. Powered by Ventiureon.
        </small>
    </div>
</div>