*{
    user-select: none;
    -webkit-touch-callout: none;
}
.main{
    background: linear-gradient(#0089cf, #27a9ef);
    overflow-y: scroll;
}
.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
.loader-container{
    position: fixed;
    top: 0px;
    background: linear-gradient(#0089cf, #27a9ef);
    left: 0px;
    z-index: 1000;
}
.login-button{
    margin-left: calc(50% - 50px);
    width: 100px;
    margin-right: calc(50% - 50px);
}
.bring-forth{
    position: relative;
    z-index: 999;
}
.vertical-scroll{
    overflow-y: scroll;
}
.modal-content{
    min-height: 90%;
    max-height: 90%;
    margin-top:5%!important
}
.management-list {
    max-height: 60%;
}
.cursor-pointer{
  cursor: pointer;
}
.student-image{
    height:200px;
    width: 200px;
    position: relative;
}
.img-cover-dark, .back-camera{
  position: absolute;
  top: 0px;
  left: 0px;
}
.img-cover-dark{
  z-index: 5;
  background-color: rgba(0,0,0,0.3);
}
.back-camera{
  z-index: 6;
  background: url('../img/camera.png');
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  opacity: 0.1;
}
.error-modal{
  z-index: 1060;
}
.modal-autosize{
  max-width: auto!important;
  max-height: 100px!important;
}