.h-100 {
    height: 100%;
}
.w-33 {
    width: 33%;
}

.w-25 {
    width: 25%;
}

.w-49 {
    width: 49%;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.shape-container {
    height: auto;
    width: auto;
    padding: 3px;
}

svg.shadowed-svg g path, svg.shadowed-svg path {
    box-shadow: 1px 1px 25px -2px #222;
}

div.px-3 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}

.d-inline-block {
    display: inline-block!important;
}
.justify-content-end {
    justify-content: end!important;
}
.d-inline-flex {
    display: inline-flex;
}
.p-10px {
    padding: 10px!important;
}
.square-container {
    height:120px;
    width:120px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: transparent;
}
.square-container.first {
    right: 10px;
    top: 30px;
}
.square-container.second {
    right: 10px;
    top: 200px;
}
.square-container.third {
    right: 10px;
    top: 370px;
}
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}
.text {
    right: 15px;
}
.text.first {
    top:10px;
}
.text.second {
    top:180px;
}
.text.third {
    top:350px;
}
.p-3 {
    padding: 1rem;
}
.w-80px {
    width: 80px;
}
.text-center {
    text-align: center;
}
.d-none {
    display: none!important;
}
@keyframes fadeToGreen {
    0% {
        background-color: auto;
        color: auto;
        fill: auto;
        border: auto;
    }
    100% {
        background-color: #008800;
        color: #008800;
        fill: #008800;
        border: 1px solid #008800!important;
    }
}
.fade-to-green {
    animation: fadeToGreen;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.text-danger {
    color: #a50101;
}
h1.wrong-choice {    
    font-family: arial;
    text-align: center;
    font-size: 6rem;
    margin: 0px;
}
.z-5 {
    z-index: 5;
}
.position-relative {
    position: relative;
}
.z-_1 {
    z-index: -1;
}