<div class="col-md-12 p-5 h-75">
  <div class="col-md-3 card d-inline-block h-75 shadow-gray p-0 rounded">
    <div class="bg-info w-100 text-white p-2">
      Templates
    </div>
    <button mat-raised-button class="bg-info col-md-10 text-white d-block mt-1 mb-2 mx-auto p-2" [matMenuTriggerFor]="menuTemplate">
      <mat-icon>add</mat-icon>&nbsp;&nbsp;
      Create New Template
    </button>
    <mat-menu #menuTemplate="matMenu">
      <!-- give local reference and tell this is manu by assigning 'matMenu' -->
      <button #scratchTemplate id="scratchTemplate" (click)="createTemplate(scratchTemplate)" mat-menu-item>
        <mat-icon>add</mat-icon>
        <span>Start from Scratch</span>
      </button>
      <button #existingTemplate id="existingTemplate" (click)="createTemplate(existing)" mat-menu-item>
        <mat-icon>open_in_new</mat-icon>
        <span>Use existing</span>
      </button>
    </mat-menu>
    <br>
    <div *ngIf="!templatesArray || templatesArray.length === 0" class="col-md-12 p-3 text-primary text-left">
      No templates are available yet.
    </div>
    <div *ngIf="templatesArray || templatesArray.length > 0">
    </div>
  </div>
  <div class="ml-1 col-md-3 card d-inline-block h-75 shadow-gray p-0 rounded">
    <div class="bg-primary w-100 text-white p-2">
      Sections
    </div>
    <button mat-raised-button class="bg-primary col-md-10 text-white d-block mt-1 mb-2 mx-auto p-2" [matMenuTriggerFor]="menuSection">
      <mat-icon>add</mat-icon>&nbsp;&nbsp;
      Create New Section
    </button>
    <mat-menu #menuSection="matMenu">
      <!-- give local reference and tell this is manu by assigning 'matMenu' -->
      <button #scratchSection id="scratchSection" (click)="createSection(scratchSection)" mat-menu-item>
        <mat-icon>add</mat-icon>
        <span>Start from Scratch</span>
      </button>
      <button #existingSection id="existingSection" (click)="createSection(existing)" mat-menu-item>
        <mat-icon>open_in_new</mat-icon>
        <span>Use existing</span>
      </button>
    </mat-menu>
    <br>
    <div class="col-md-12 p-3 text-primary text-left">
      No sections are available yet.
    </div>
  </div>
</div>