<!-- <div class="h-100 border rounded p-0 shadow">
  <mat-toolbar color="primary">
    <span>
      New Allottee
    </span>
  </mat-toolbar>
</div> -->
<div matRipple class="col-md-12 p-0 h-100 d-table rounded bg-success text-white shadow cursor-pointer" (click)="openDialog()">
  <!-- <mat-grid-list class="col-md-12 h-100" cols="1" rowHeight="1:1">
    <mat-grid-tile>
      New Allottee
    </mat-grid-tile>
  </mat-grid-list> -->
  <h3 class="col-md-12 text-center d-table-cell vertical-align-middle">
    New Allottee
  </h3>
</div>