<div class="col-md-12 p-5">
    <div class="col-md-12 p-3">
        <h3 class="col-md-12 px-5 font-weight-semibold text-center">
            {{data.head}}
        </h3>
        <div class="col-md-12 px-5 py-3 text-center">
            <div class="col-md-12 px-5 font-weight-semibold">
                {{data.message}}
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center pt-5">
            <button mat-raised-button class="bg-theme text-white px-5 py-2 mx-4" (click)="close(false)">
                <span class="vertical-align-middle">CANCEL</span>
            </button>
            <button mat-raised-button class="bg-HIGHLIGHT-2 text-white px-5 py-2 mx-4" (click)="close(true)">
                <span class="vertical-align-middle">DISCARD</span>
            </button>
        </div>
    </div>
</div>