<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src="../assets/img/logo_white.png" class="header-logo" /><span>INSPECTOFY</span>
        <div class="d-inline-block pl-5 ml-5 col-md-8">
            <span class="p-1 font-weight-light text-dull cursor-pointer extra-small p-1 position-relative">
                <div class="d-inline-block p-0 m-0 text-center"><a routerLink="/">Home</a></div>
                <div class="nav-decor position-absolute"></div>
            </span>
            &nbsp;&nbsp;
            <span class="p-1 font-weight-light text-dull cursor-pointer extra-small p-1 position-relative">
                <div class="d-inline-block p-0 m-0 text-center"><a routerLink="/dashboard">Dashboard</a></div>
                <div class="nav-decor position-absolute"></div>
            </span>
            &nbsp;&nbsp;
            <span class="p-1 font-weight-light text-dull cursor-pointer extra-small p-1 position-relative">
                <div class="d-inline-block p-0 m-0 text-center"><a routerLink="/templates">Templates</a></div>
                <div class="nav-decor position-absolute"></div>
            </span>
            &nbsp;&nbsp;
            <span class="p-1 font-weight-light text-dull cursor-pointer extra-small p-1 position-relative">
                <div class="d-inline-block p-0 m-0 text-center"><a routerLink="/inspection">Inspection</a></div>
                <div class="nav-decor position-absolute"></div>
            </span>
            <!-- <span class="ml-5 mr-5 pl-5 pr-5 col-md-1"></span> -->
            <span class="p-1 font-weight-light float-right authorization-links text-dull cursor-pointer extra-small p-1 position-relative">
                <div class="d-inline-block p-0 m-0 text-center"><a routerLink="/login">Login</a></div>
                <div class="nav-decor position-absolute"></div>
            </span>
            <span class="p-1 font-weight-light float-right authorization-links text-dull cursor-pointer extra-small p-1 position-relative mr-4">
                <div class="d-inline-block p-0 m-0 text-center"><a routerLink="/register">Register</a></div>
                <div class="nav-decor position-absolute"></div>
            </span>
            <span (click)="logUserOut()" class="p-1 authorized-links d-none font-weight-light float-right text-dull cursor-pointer extra-small p-1 position-relative mr-4">
                <div class="d-inline-block p-0 m-0 text-center">Logout</div>
                <div class="nav-decor position-absolute"></div>
            </span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>