<div class="col-md-12 p-0 total-container">
  <div class="col-md-12 py-3 text-center font-weight-bold">
    LIST OF ISSUED ALLOTMENTS ALL PAKISTAN TEACHERS CO-OPERATIVE HOUSING SOCIETY LIMITED KARACHI
    <div class="position-absolute hide-print r-1r t-1r">
      <button mat-icon-button class="mr-1" (click)="close()">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-icon-button class="mr-1" (click)="print()">
        <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>
  <div class="col-md-12 py-2 vertical-scroll">
    <!-- <table class="col-md-12">
      <tr>
        <th class="px-2 bg-secondary text-white py-1 w-100p text-center">S.No.</th>
        <th class="px-2 bg-secondary text-white py-1 w-100p text-center">M/S No.</th>
        <th class="px-2 bg-secondary text-white py-1 text-center" [style.width]="getWidthForMid">Name</th>
        <th class="px-2 bg-secondary text-white py-1 text-center" [style.width]="getWidthForMid">Father's / Husband's Name</th>
        <th class="px-2 bg-secondary text-white py-1 text-center" [style.width]="getWidthForMid">Address</th>
        <th class="px-2 bg-secondary text-white py-1 w-100p text-center">Date of Enrollment as Member</th>
      </tr>
      <tr *ngFor="let f of showFiles">
        <td class="px-2 text-secondary py-0 w-100p text-center">{{getSno(f)}}</td>
        <td class="px-2 text-secondary py-0 w-100p text-center">{{f.msno}}</td>
        <td class="px-2 text-secondary py-0 text-center" [style.width]="getWidthForMid">{{f.name}}</td>
        <td class="px-2 text-secondary py-0 text-center" [style.width]="getWidthForMid">{{f.sowodo}}</td>
        <td class="px-2 text-secondary py-0 text-center" [style.width]="getWidthForMid">{{f.address}}</td>
        <td class="px-2 text-secondary py-0 w-100p text-center">{{f.doe}}</td>
      </tr>
    </table> -->
    <mat-paginator class="hide-print" [pageSizeOptions]="[40]" showFirstLastButtons></mat-paginator>
    <table mat-table [dataSource]="dts" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="sno">
        <th class="text-center py-0" mat-header-cell *matHeaderCellDef> S.No. </th>
        <td class="text-center py-0" mat-cell *matCellDef="let i = index;"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="msno">
        <th class="text-center py-0" mat-header-cell *matHeaderCellDef> M/S No. </th>
        <td class="text-center py-0" mat-cell *matCellDef="let element"> {{element.msno}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th class="text-center py-0" mat-header-cell *matHeaderCellDef> Name of Allotee </th>
        <td class="text-center py-0" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="sowodo">
        <th class="text-center py-0" mat-header-cell *matHeaderCellDef> S/o. W/o. D/o. </th>
        <td class="text-center py-0" mat-cell *matCellDef="let element"> {{element.sowodo}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th class="text-center py-0" mat-header-cell *matHeaderCellDef> Address </th>
        <td class="text-center py-0" mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="plot">
        <th class="text-center py-0" mat-header-cell *matHeaderCellDef> Plot No. </th>
        <td class="text-center py-0" mat-cell *matCellDef="let element"> {{element.plot_no}} </td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th class="text-center py-0" mat-header-cell *matHeaderCellDef> Size </th>
        <td class="text-center py-0" mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <ng-container matColumnDef="doa">
        <th class="text-center py-0" mat-header-cell *matHeaderCellDef> Date of Allotment </th>
        <td class="text-center py-0" mat-cell *matCellDef="let element"> {{dops[element.msno]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>