<div class="container panel-main col-md-12 p-0 h-100">
  <div class="card col-md-3 p-1 m-2 notifications-area shadow-lighter">
    <h5 class="text-primary text-center p-2 font-weight-bold m-0">
      Notifications
    </h5>
    <div id="notifications-section" class="notifications w-100 vertical-scroll p-1">
      <!-- <div class="card col-md-12 p-3 mb-2 shadow-lighter bg-info text-white">abcd</div> -->
      <div class="text-warning p-2 font-weight-bold">Loading Notifications...</div>
    </div>
  </div>
</div>