<h3 class="col-md-12 text-center p-3 text-info">
  New Comment
</h3>
<form [formGroup]="newCommentForm" class="mt-4 col-md-12">
  <mat-form-field class="d-block mx-auto col-md-9 d-block mx-auto row mt-1">
    <input matInput placeholder="Comment Name" formControlName="commentName" required />
  </mat-form-field>
  <mat-form-field class="d-block mx-auto col-md-9 d-block mx-auto row mt-1">
    <mat-select formControlName="itemName" placeholder="Item Name" required id="itemName" (selectionChange)="setCommentName($event)">
      <mat-option *ngFor="let i of itemsArray" [value]="i._id">{{i.itemName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="d-inline-block col-md-9 d-block mx-auto row mt-1">
    <mat-select formControlName="answerFormat" placeholder="Answer Format" required (selectionChange)="setAnswerFormat($event)">
      <mat-option *ngFor="let a of answerFormat" [value]="a.id">{{a.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="answerFormatExplicit == 'multiple'" class="d-inline-block col-md-9 d-block mx-auto row mt-1" >
    <textarea matInput formControlName="multiplebox" class="rounded border-info p-2" placeholder="Answer Choices (comma-seperated)" style="max-height: 50px"></textarea>
  </mat-form-field>
  <mat-form-field *ngIf="answerFormatExplicit == 'number' || answerFormatExplicit == 'numericrange'" class="d-inline-block col-md-9 d-block mx-auto row mt-1">
    <textarea matInput formControlName="numberbox" class="rounded border-info p-2" placeholder="Unit Types (comma-seperated)"
      style="max-height: 50px"></textarea>
  </mat-form-field>
  <mat-form-field class="d-block mx-auto col-md-9 d-block mx-auto row mt-1">
    <input matInput placeholder="Locations (Physical)" formControlName="location" id="location" />
  </mat-form-field>
  <mat-form-field class="d-block mx-auto col-md-9 d-block mx-auto row mt-1">
    <textarea matInput placeholder="Default Text" formControlName="defaultText" id="defaultText"></textarea>
  </mat-form-field>
  <br>
  <button (click)="pushNewComment()" mat-raised-button color="primary" class="text-white d-block mx-auto p-2 pl-5 pr-5">
    <mat-icon>save</mat-icon>&nbsp;&nbsp;
    Save New Comment
  </button>
</form>