/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    user-select: none;
    -webkit-touch-callout: none;
    /* font-size: 2rem; */
}

button:active, button:focus {
    outline: none!important;
}

.fs2_5r {
    font-size: 2.5rem;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: indigo;
border-radius: 10px;
}