/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face{
    src: url('./assets/fonts/proximaNovaLight.ttf');
    font-family: proximaNova;
}

*, h1, h2, h3, h4, h5, input, button{
    font-family: proximaNova;
}
*, *:active, *:focus{
    -webkit-touch-callout: none!important;
    user-select: none!important;
    outline: none!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: proximaNova, Roboto, "Helvetica Neue", sans-serif; background-color: transparent; }
.back-img {
    position: absolute;
    top:0px;
    left:0px;
}
.back-0{
    z-index: -1;
    background-color: rgba(30,30,30,0.7);
}
.back-1{
    z-index: -2;
    background: url('./assets/img/881563d6444b370fa4ceea0c3183bb4c.gif');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.15;
}
.back-2{
    z-index: -3;
    background: url('./assets/img/Capture.PNG');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.back-3{
    z-index: -4;
    background: url('./assets/img/428229.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.back-4{
    z-index: -5;
    background: url('./assets/img/243345.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #ccc; 
}
::-webkit-scrollbar-thumb {
    background: #0089cf;
}
::-webkit-scrollbar-thumb:hover {
    background: #27a9ef; 
}
.min_h_400 {
    min-height: 400px;
}