<mat-toolbar class="bg-white">
    <div class="my-2 d-flex flex-row justify-content-between align-items-center flex-grow-1">
        <span>{{data.message}} Iterations Data</span>
        <button mat-mini-fab (click)="close()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</mat-toolbar>
<div *ngIf="data.message==='NRM'" class="d-flex flex-column w-100 flex-grow-1 overflow-scroll">
    <div *ngFor="let it of data.values; let i=index" class="card py-2 px-4 m-1 shadow">
        <h5>Iteration #{{i+1}}</h5>
        <h6>x<sub>n</sub> = {{it.xn}}</h6>
        <h6 class="bg-success text-white rounded p-2">x<sub>n+1</sub> = {{it.xn1}}</h6>
        <h6>f(x) = {{it.fx}}</h6>
        <h6>f'(x) = {{it.fdx}}</h6>
        <h6>&epsilon;<sub>a</sub> = {{precise(it.ea)}}</h6>
        <h6>&epsilon;<sub>t</sub> = {{precise(it.et)}}</h6>
    </div>
</div>
<div *ngIf="data.message==='SEC'" class="d-flex flex-column w-100 flex-grow-1 overflow-scroll">
    <div *ngFor="let it of data.values; let i=index" class="card py-2 px-4 m-1 shadow">
        <h5>Iteration #{{i+1}}</h5>
        <h6>x<sub>0</sub> = {{it.x0}}</h6>
        <h6>f(x<sub>0</sub>) = {{it.fxl}}</h6>
        <h6>x<sub>1</sub> = {{it.x1}}</h6>
        <h6>f(x<sub>1</sub>) = {{it.fxu}}</h6>
        <h6 class="bg-success text-white rounded p-2">x<sub>2</sub> = {{it.x2}}</h6>
        <h6>f(x<sub>2</sub>) = {{it.fx2}}</h6>
        <h6>&epsilon;<sub>a</sub> = {{it.ea===90000?'-':precise(it.ea)}}</h6>
        <h6>&epsilon;<sub>t</sub> = {{precise(it.et)}}</h6>
    </div>
</div>
<div *ngIf="data.message==='RF'" class="d-flex flex-column w-100 flex-grow-1 overflow-scroll">
    <div *ngFor="let it of data.values; let i=index" class="card py-2 px-4 m-1 shadow">
        <h5>Iteration #{{i+1}}</h5>
        <h6>x<sub>0</sub> = {{it.x0}}</h6>
        <h6>x<sub>1</sub> = {{it.x1}}</h6>
        <h6 class="bg-success text-white rounded p-2">x<sub>2</sub> = {{it.x2}}</h6>
        <h6>f(x<sub>0</sub>) = {{it.fx0}}</h6>
        <h6>f(x<sub>2</sub>) = {{it.fx2}}</h6>
        <h6>&epsilon;<sub>a</sub> = {{it.ea===90000?'-':precise(it.ea)}}</h6>
        <h6>&epsilon;<sub>t</sub> = {{precise(it.et)}}</h6>
    </div>
</div>
<div *ngIf="data.message==='BS'" class="d-flex flex-column w-100 flex-grow-1 overflow-scroll">
    <div *ngFor="let it of data.values; let i=index" class="card py-2 px-4 m-1 shadow">
        <h5>Iteration #{{i+1}}</h5>
        <h6>x<sub>1</sub> = {{it.x0}}</h6>
        <h6>x<sub>2</sub> = {{it.x1}}</h6>
        <h6 class="bg-success text-white rounded p-2">x<sub>3</sub> = {{it.x2}}</h6>
        <h6>f(x<sub>1</sub>) = {{it.fx0}}</h6>
        <h6>f(x<sub>3</sub>) = {{it.fx2}}</h6>
        <h6>Update = <span [innerHTML]="getBSUpdate(it)"></span></h6>
        <h6>&epsilon;<sub>a</sub> = {{it.ea===90000?'-':precise(it.ea)}}</h6>
        <h6>&epsilon;<sub>t</sub> = {{precise(it.et)}}</h6>
    </div>
</div>