<mat-toolbar class="bg-white">
    <div class="my-2 d-flex flex-row justify-content-between align-items-center flex-grow-1">
        <span>Iterations Data</span>
        <button mat-mini-fab (click)="close()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</mat-toolbar>
<div *ngIf="data.message==='NRM'" class="d-flex flex-column w-100 flex-grow-1 overflow-scroll">
    <div *ngFor="let it of data.values; let i=index" class="card p-2 m-1 shadow">
        <h3>{{data.message}} Iteration #{{i+1}}</h3>
        <h6>x<sub>n</sub> = {{it.xn}}</h6>
        <h6 class="bg-success text-white rounded p-2">x<sub>n+1</sub> = {{it.xn1}}</h6>
        <h6>f(x) = {{it.fx}}</h6>
        <h6>f'(x) = {{it.fdx}}</h6>
        <h6>&epsilon;<sub>a</sub> = {{it.ea}}</h6>
        <h6>&epsilon;<sub>t</sub> = {{it.et}}</h6>
    </div>
</div>