.panel-main{
    max-height: calc(100% - 64px);
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #ccc; 
}
::-webkit-scrollbar-thumb {
    background: #f80; 
}
::-webkit-scrollbar-thumb:hover {
    background: #ff9800; 
}
.notifications-area{
    height: calc(100% - 32px);
}
.shadow-lighter{
    box-shadow: 2px 2px 25px -2px #999;
}
.notifications{
    height: calc(100% - 2.5rem - 50px);
}
.vertical-scroll{
    overflow-y: scroll;
}
.min-width-auto{
    min-width: auto!important;
}
.padding-0_5-l-r{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.right-section{
    width: calc(75% - 2rem )!important;
    max-height: calc(100% - 32px);
}
.add-mew-carousel{
    top: 10px;
    right: 10px;
    z-index: 5;
}
.min_50_2{
   min-height: calc(50% - 2rem);
}
.max_50_2 {
    max-height: calc(50% - 2.25rem);
}
.mat-list-item{
    max-height: 70px;
}
.carousel-image {
    max-height: 20px;
    width: auto;
}